* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

html,
body {
  width: 100%;
  max-width: $max-width;
  -webkit-font-smoothing: antialiased;
  margin: auto;
  font-size: $fz-text;
  font-family: $main-font, sans-serif;
  background: $color-white;
  position: relative;
  @include custom-scrollbar();
}
